---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/2cc70b766b138020bab7e66674c6498a/query
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"10d-OC7WXfr9xVciIxgKrwI+mXIScSs"
      x-notion-request-id:
      - 83a83bee-861c-4585-a0cc-2ff04afc213b
    body:
      encoding: UTF-8
      string: '{"object":"error","status":404,"code":"object_not_found","message":"Could
        not find database with ID: 2cc70b76-6b13-8020-bab7-e66674c6498a. Make sure
        the relevant pages and databases are shared with your integration.","request_id":"83a83bee-861c-4585-a0cc-2ff04afc213b"}'
  recorded_at: Sat, 03 Jan 2026 14:54:47 GMT
- request:
    method: get
    uri: https://api.notion.com/v1/pages/2cc70b766b138020bab7e66674c6498a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"379-XPNsIRnwK0PPoZ064UM3JshvQi0"
      x-notion-request-id:
      - 9dfc1427-e755-432d-ada3-a52d98037296
    body:
      encoding: UTF-8
      string: '{"object":"page","id":"2cc70b76-6b13-8020-bab7-e66674c6498a","created_time":"2025-12-17T06:09:00.000Z","last_edited_time":"2025-12-17T06:18:00.000Z","created_by":{"object":"user","id":"297d872b-594c-81f3-8663-0002095f49f2"},"last_edited_by":{"object":"user","id":"297d872b-594c-81f3-8663-0002095f49f2"},"cover":null,"icon":null,"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Geometric
        Generalization","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Geometric
        Generalization","href":null}]}},"url":"https://www.notion.so/Geometric-Generalization-2cc70b766b138020bab7e66674c6498a","public_url":null,"request_id":"9dfc1427-e755-432d-ada3-a52d98037296"}'
  recorded_at: Sat, 03 Jan 2026 14:56:43 GMT
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/2cc70b766b138020bab7e66674c6498a/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c86-mc6gtmsU2MKJlGBixH8Q+GzFr1I"
      x-notion-request-id:
      - '05658023-36e9-4318-997e-ef1fb489c9dc'
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"2cc70b76-6b13-80c3-a4ae-feb0af40f175","parent":{"type":"page_id","page_id":"2cc70b76-6b13-8020-bab7-e66674c6498a"},"created_time":"2025-12-17T06:11:00.000Z","last_edited_time":"2025-12-17T06:11:00.000Z","created_by":{"object":"user","id":"297d872b-594c-81f3-8663-0002095f49f2"},"last_edited_by":{"object":"user","id":"297d872b-594c-81f3-8663-0002095f49f2"},"has_children":false,"archived":false,"in_trash":false,"type":"heading_3","heading_3":{"rich_text":[{"type":"text","text":{"content":"How
        to describe and understand the problem setting","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"How
        to describe and understand the problem setting","href":null}],"is_toggleable":false,"color":"default"}},{"object":"block","id":"2cc70b76-6b13-8018-bbd2-d3da4b2833ba","parent":{"type":"page_id","page_id":"2cc70b76-6b13-8020-bab7-e66674c6498a"},"created_time":"2025-12-17T06:12:00.000Z","last_edited_time":"2025-12-17T06:16:00.000Z","created_by":{"object":"user","id":"297d872b-594c-81f3-8663-0002095f49f2"},"last_edited_by":{"object":"user","id":"297d872b-594c-81f3-8663-0002095f49f2"},"has_children":true,"archived":false,"in_trash":false,"type":"toggle","toggle":{"rich_text":[{"type":"text","text":{"content":"Some
        intrinsic structure of ","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Some
        intrinsic structure of ","href":null},{"type":"text","text":{"content":"Shape
        Space ","link":null},"annotations":{"bold":true,"italic":true,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Shape
        Space ","href":null},{"type":"text","text":{"content":"equipped with probability
        structure","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"equipped
        with probability structure","href":null}],"color":"default"}},{"object":"block","id":"2cc70b76-6b13-80a1-b07c-e23f41377978","parent":{"type":"page_id","page_id":"2cc70b76-6b13-8020-bab7-e66674c6498a"},"created_time":"2025-12-17T06:12:00.000Z","last_edited_time":"2025-12-17T06:12:00.000Z","created_by":{"object":"user","id":"297d872b-594c-81f3-8663-0002095f49f2"},"last_edited_by":{"object":"user","id":"297d872b-594c-81f3-8663-0002095f49f2"},"has_children":false,"archived":false,"in_trash":false,"type":"bulleted_list_item","bulleted_list_item":{"rich_text":[],"color":"default"}},{"object":"block","id":"2cc70b76-6b13-8017-ad39-d70f04439f66","parent":{"type":"page_id","page_id":"2cc70b76-6b13-8020-bab7-e66674c6498a"},"created_time":"2025-12-17T06:10:00.000Z","last_edited_time":"2025-12-17T06:10:00.000Z","created_by":{"object":"user","id":"297d872b-594c-81f3-8663-0002095f49f2"},"last_edited_by":{"object":"user","id":"297d872b-594c-81f3-8663-0002095f49f2"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"05658023-36e9-4318-997e-ef1fb489c9dc"}'
  recorded_at: Sat, 03 Jan 2026 14:56:44 GMT
[...]
