---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/pages/your_notion_database_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e1-x83Ayy+7DOuSc6dDYM/3i404VlM"
      x-notion-request-id:
      - '03796cb7-12e6-4593-acf4-541f9a549498'
    body:
      encoding: UTF-8
      string: '{"object":"error","status":400,"code":"validation_error","message":"path
        failed validation: path.page_id should be a valid uuid, instead was `\"your_notion_database_id\"`.","request_id":"03796cb7-12e6-4593-acf4-541f9a549498"}'
  recorded_at: Sat, 03 Jan 2026 15:06:47 GMT
recorded_with: VCR 6.3.1
