body {
  background-color: var(--bg);
  color: var(--text);
}

body.transitioning {
  transition: background-color 0.9s ease, color 0.9s ease;
}

email {
  font-size: 14px;
  font-family: "Ubuntu Mono";
}

education {
  font-weight: 500;
  font-size: 115%;
}


lightonly {
  visibility: visible;
}

darkonly {
  visibility: hidden;
}

.text-accent {
  color: var(--accent-color);
}

.text-accent:hover {
  color: var(--link-hover);
  transform: scale(1.01);
  transition: transform 0.5s ease, color 0.5s ease, text-shadow 0.5s ease;
  display: inline-block;
  text-shadow: 0 0 6px rgba(255, 117, 117, 0.5);
}

body:not(.dark-mode) .text-accent:hover {
  text-shadow: 0 0 6px rgba(255, 235, 235, 0.728);
}

a:hover .text-accent {
  color: var(--link-hover);
  transform: scale(1.01);
  text-shadow: 0 0 6px rgba(255, 132, 132, 0.528);
}


.image {
  border-radius: 0.35em;
  border: 0;
  display: inline-block;
  position: relative;
}

.image:before {
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  border-radius: 0.35em;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
}

.image.avatar {
  border-radius: 15%;
}

.image.avatar:before {
  display: none;
}

.image.avatar img {
  border-radius: 25%;
  width: 40%;
  padding: 15px;
}

#header .image.avatar {
  margin: 0 0 1em 0;
  width: 8.00em;
}



h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--heading);
  margin: 0 0 20px;
}

h1 {
  font-weight: 500;
  color: var(--heading);
  margin: 0 0 20px;
}

h2 {
  color: var(--heading);
  font-weight: 500;
  margin: 2px 0px 15px;
  font-size: 157%;
}

p,
ul,
ol,
table,
pre,
dl {
  margin: 0 0 20px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

a {
  color: var(--link);
  text-decoration: none;
  transition: color 0.7s ease, transform 0.7s ease;
}

a:hover {
  color: var(--link-hover);
  transform: scale(1.2);
}

a small {
  font-size: 11px;
  color: #777;
  margin-top: -0.3em;
  display: block;
  transition: color 0.6s ease, transform 0.6s ease;
}

a:hover small {
  color: var(--link-hover);
  transform: scale(1.02);
}

small {
  font-size: 11px;
}

strong {
  color: var(--text-strong);
  font-size: 16.5px;
  font-weight: 800;
}


code,
pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: var(--text);
}

pre {
  max-width: 500px;
  padding: 8px 15px;
  background: var(--code-bg);
  border-radius: 5px;
  border: 1px solid var(--border);
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid var(--border);
}

dt {
  color: #444;
  font-weight: 500;
}

th {
  color: #444;
}

img {
  max-width: 100%;
}

hr {
  border: 0;
  background: var(--border);
  height: 1px;
  margin: 0 0 20px;
}