.social-icons a {
    display: inline-block;
    height: 2.4rem;
    width: 2.4rem;
    background-color: transparent;
    color: var(--text) !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.15rem;
    line-height: 2.5rem;
    margin-right: 1rem;
    transition: color 0.6s ease, transform 0.6s ease;
}

.social-icons a:last-child {
    margin-right: 0
}

.social-icons a:hover {
    color: var(--link-hover);
}


// button for publications
.tiny-btn {
    font-size: 12px;
    color: var(--text);
    border: 1px solid var(--text);
    background-color: transparent;
    padding: 2px 8px;
    border-radius: 3px;
    text-decoration: none;
    transition: color 0.5s, border-color 0.5s;
}

.tiny-btn:hover {
    color: var(--link-hover);
    border-color: var(--link-hover);
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.badge {
    color: var(--button-text) !important;
    border-radius: 0.125rem;
    box-shadow:
        0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow:
        0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

// theme toggle button
.theme-toggle-btn {
    background: transparent;
    border: none;
    cursor: pointer;

    font-size: 18px;
    line-height: 1;
    padding: 6px 8px;

    color: var(--nav-link-color);

    border-radius: 8px;
    transition: background-color 0.2s ease, transform 0.15s ease;
}

.theme-toggle-btn i {
    display: inline-block;
    transition: transform 0.4s ease;
}

.theme-toggle-btn.rotate i {
    transform: rotate(180deg);
}