body {
    padding-top: 76px;
}

.wrapper {
    width: 920px;
    margin: 0 auto;

    @media screen and (max-width: 960px) {
        padding-top: 56px;
        width: 950px;
        margin: 0 auto;
    }
}

section {
    width: 650px;
    float: right;
    text-align: justify;
    padding-top: 4.0em;
    padding-bottom: 50px;

    @media screen and (max-width: 960px) {
        float: none;
    }
}

.content-section {
    width: 650px;
    margin: 0 auto;
    padding-top: 4em;
    padding-bottom: 50px;

    @media screen and (max-width: 980px) {
        padding-top: 100px;
        text-align: justify;
    }
}

.wrapper.two-column {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}


.main-content {
    margin-top: 4rem;
    flex: 4;
    min-width: 0;
    margin-bottom: 10rem;
}

header {
    width: 232px;
    float: left;
    position: fixed;
    -webkit-font-smoothing: subpixel-antialiased;
    padding-top: 4.0em;
    text-align: center
}



header ul {
    list-style: none;
    height: 40px;
    padding: 0;
    background: var(--code-bg);
    border-radius: 5px;
    border: 1px solid var(--border);
    width: 270px;
}

header li {
    width: 89px;
    float: left;
    border-right: 1px solid var(--border);
    height: 40px;
}

header li:first-child a {
    border-radius: 5px 0 0 5px;
}

header li:last-child a {
    border-radius: 0 5px 5px 0;
}

header ul a {
    line-height: 1;
    font-size: 11px;
    color: var(--text);
    display: block;
    text-align: center;
    padding-top: 6px;
    height: 34px;
    background-color: transparent;
}

header ul a:hover {
    color: var(--text);
}

header ul a:active {
    background-color: var(--code-bg);
}



header ul li+li+li {
    border-right: none;
    width: 89px;
}

header ul a strong {
    font-size: 14px;
    display: block;
    color: var(--text);
}



footer {
    width: 232px;
    float: left;
    position: fixed;
    bottom: 30px;
    -webkit-font-smoothing: subpixel-antialiased;
    text-align: center;
}

@media print,
screen and (max-width: 960px) {

    .pub-row {
        display: flex;
        align-items: center;
    }

    div.wrapper {
        width: auto;
        margin: 0;
    }


    header,
    section,
    footer {
        float: none;
        position: static;
        width: auto;
    }

    header {
        padding-right: 320px;
    }

    section {
        text-align: justify;
        border: 1px solid var(--border);
        border-width: 1px 0;
        padding: 20px 0;
        margin: 0 0 20px;
    }

    header a small {
        display: inline;
    }

    header ul {
        position: absolute;
        right: 50px;
        top: 52px;
    }


    .image.avatar img {
        border-radius: 25%;
        width: 25%;
        padding: 10px;
    }

    #head1o2 {
        visibility: hidden;
    }

    #head2o2 {
        visibility: hidden;
    }


}

@media print,
screen and (max-width: 960px) {
    body {
        word-wrap: break-word;
        padding: 15px;
    }

    .pub-row {
        display: flex;
        align-items: center;
    }

    header {
        padding: 0;
    }

    header ul,
    header p.view {}

    pre,
    code {
        word-wrap: normal;
    }
}

@media print,
screen and (max-width: 480px) {

    .pub-row {
        display: block;
        align-items: center;
    }

    body {
        padding: 15px;
    }

    header ul {
        width: 99%;
    }

    header li,
    header ul li+li+li {
        width: 33%;
    }

    .image.avatar img {
        border-radius: 25%;
        width: 25%;
        padding: 10px;
    }

    #head1o2 {
        visibility: hidden;
    }

    #head2o2 {
        visibility: hidden;
    }

    section {
        text-align: justify;
    }

}

@media print {
    body {
        padding: 0.4in;
        font-size: 12pt;
        color: #444;
    }
}


@media print,
screen and (min-width: 480px) {
    .col-sm-9 {
        width: 100%;
    }
}