.topnav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--topnav-bg);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-bottom: var(--topnav-border);
    box-shadow: var(--topnav-shadow);
}


.topnav .topnav-inner {
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.topnav-left,
.topnav-right {
    flex: 2;
    display: flex;
    align-items: center;
}

.topnav-left {
    justify-content: flex-start;
}

.topnav-right {
    justify-content: flex-end;
}

.topnav-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.topnav a.topnav-item {
    position: relative;
    color: var(--topnav-item-color);
    text-decoration: none;
    font-size: 18px;
    padding: 10px 12px;
    border-radius: 10px;
}

.topnav a.topnav-item.active::after {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 20%;
    right: 20%;
    height: 3px;
    // background-color: var(--theme-color);
    background-color: rgba(var(--theme-color-rgb));
    box-shadow: var(--topnav-shadow), 0 0 10px rgba(var(--theme-color-rgb), 0.6);
    border-radius: 2px;
}

.back-button {
    padding: 6px 12px;
    color: var(--topnav-item-color);
    text-decoration: none;
    border-radius: 6px;
    font-size: 15px;
    transition: background 0.2s;
    white-space: nowrap;
}

.post-title {
    font-size: 20px;
    margin: 0;
    color: var(--theme-color);
}

.post-title:hover {
    all: unset;
    color: var(--theme-color);
    font-size: 20px;
    margin: 0;
}



.sidenav {
    margin-top: 8rem;
    flex: 1;
    position: sticky;
    top: 100px;
    align-self: flex-start;
    font-size: 14px;
    line-height: 1.6;
    padding-left: 10px;
    border-left: 1px dotted var(--muted-text-color);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

.sidenav h3 {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}

.sidenav ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.sidenav li {
    margin-bottom: 8px;
}

.sidenav a {
    text-decoration: none;
    color: var(--text);
}

.sidenav a:hover {
    color: var(--link-hover);
}

.sidenav .toc-link {
    text-decoration: none;
    color: var(--text);
    transition: color 0.5s ease;
}

.sidenav .toc-link.active {
    color: var(--theme-color);
    font-weight: bold;
    border-left: 3px solid var(--theme-color);
    padding-left: 3px;
}